body{
  max-width: 1450px;
}

.title{
  background-color: grey;
  text-align: center;
}
.lead{
  font-weight: bold;
}
.nav-item{
  height: 100%;
  text-align: center;

}
.title > .row > div:hover {
    background-color: white;
    color: black;
}
.calendar-header{
  background-color: peachpuff;
  margin: 0;
}
.calendar-header > *{
  display: inline-block;
  margin: 2% 0;
  margin-left: 22%;
}

.day{
  border: solid 2px;
  width: 6%;
}
.day-info-container{
  height: 13.5vh;
  position: relative;
}

.end-of-day{
  position: absolute;
  bottom: 0;
  margin: 0;
}
.day-number{
  float: left;
  margin-right: 8%;
}
.left-modal-container{
  border-right: 1px solid;
  height: 100%;
}
.event-container{
  background-color: beige;
  height: 24vh;
  width: 75%;
  margin-left: 2.5%;
  border: solid 2px black;
}
.event-form-container > div > * {
  margin-bottom: 4%;
}
.event-form-container{
  margin-top: 4%;
}
.total-container{
  border: 1px solid black;
  margin-left: -1%;
  margin-top: 8%;
  padding: 0;
  text-align: center;
  width: 7.3%;
  min-width: 65px;
}

.change-total-button{
  width: 100%;
  padding: 0;
}
.total-modal{
  text-align: center;
  margin-top: 6%;
}
.instruction-for-total-modal{
  margin-top: 10%;
}
.total-modal-form-container{
  margin-top: 10%;
}
.calendar-container{
  margin: 0;
}
.negative {
  color: red;
}
