<header ng-include="'/views/templates/header.html'">
</header>


<div class="calendar-header row">
  <button class="previous-button" ng-if="viewedMonth != stopPrevious" ng-click="previous()"> < </button>
  <div class="previous-button" ng-if="viewedMonth == stopPrevious">

  </div>
  <h2 class="calendar-month">{{month}}</h2>


  <button class="next-button" ng-click="next()"> > </button>
</div>
<div class="row calendar-container">
  <div class="calendar col-xs-11">
    <table class="calendar-proper">
        <thead>
            <tr>
                <th class="day-title">Sunday</th>
                <th class="day-title">Monday</th>
                <th class="day-title">Tuesday</th>
                <th class="day-title">Wednesday</th>
                <th class="day-title">Thursday</th>
                <th class="day-title">Friday</th>
                <th class="day-title">Saturday</th>
            </tr>
        </thead>
        <tr class="week" ng-repeat="week in monthArray">
            <td class="day">
              <div class="day-info-container" ng-if="week.days[0].isViewedMonth" ng-click="toggleModal(week.days[0])">
                <p class="day-number">
                  {{week.days[0].number}}
                </p>
                <p ng-if="week.days[0].transactions[0].name" class="transactions">
                  {{week.days[0].transactions[0].name}}: {{week.days[0].transactions[0].amount}}
                </p>
                <p ng-if="week.days[0].transactions[1].name" class="transactions">
                  {{week.days[0].transactions[1].name}}: {{week.days[0].transactions[1].amount}}
                </p>
                <p ng-if="week.days[0].transactions[2].name" class="transactions">
                  {{week.days[0].transactions[2].name}}: {{week.days[0].transactions[2].amount}}
                </p>

                <p class="end-of-day">
                  {{week.days[0].endOfDay}}
                </p>
              </div>
            </td>
            <td class="day">
              <div class="day-info-container" ng-if="week.days[1].isViewedMonth" ng-click="toggleModal(week.days[1])">
                <p class="day-number">
                  {{week.days[1].number}}
                </p>
                <p ng-if="week.days[1].transactions[0].name" class="transactions">
                  {{week.days[1].transactions[0].name}}: {{week.days[1].transactions[0].amount}}
                </p>
                <p ng-if="week.days[1].transactions[1].name" class="transactions">
                  {{week.days[1].transactions[1].name}}: {{week.days[1].transactions[1].amount}}
                </p>
                <p ng-if="week.days[1].transactions[2].name" class="transactions">
                  {{week.days[1].transactions[2].name}}: {{week.days[1].transactions[2].amount}}
                </p>

                <p class="end-of-day">
                  {{week.days[1].endOfDay}}
                </p>
              </div>
            </td>
            <td class="day">
              <div class="day-info-container" ng-if="week.days[2].isViewedMonth"  ng-click="toggleModal(week.days[2])">
                <p class="day-number">
                  {{week.days[2].number}}
                </p>
                <p ng-if="week.days[2].transactions[0].name" class="transactions">
                  {{week.days[2].transactions[0].name}}: {{week.days[2].transactions[0].amount}}
                </p>
                <p ng-if="week.days[2].transactions[1].name" class="transactions">
                  {{week.days[2].transactions[1].name}}: {{week.days[2].transactions[1].amount}}
                </p>
                <p ng-if="week.days[2].transactions[2].name" class="transactions">
                  {{week.days[2].transactions[2].name}}: {{week.days[2].transactions[2].amount}}
                </p>
                <p class="end-of-day">
                  {{week.days[2].endOfDay}}
                </p>
              </div>
            </td>
            <td class="day">
              <div class="day-info-container" ng-if="week.days[3].isViewedMonth" ng-click="toggleModal(week.days[3])">
                <p class="day-number">
                  {{week.days[3].number}}
                </p>
                <p ng-if="week.days[3].transactions[0].name" class="transactions">
                  {{week.days[3].transactions[0].name}}: {{week.days[3].transactions[0].amount}}
                </p>
                <p ng-if="week.days[3].transactions[1].name" class="transactions">
                  {{week.days[3].transactions[1].name}}: {{week.days[3].transactions[1].amount}}
                </p>
                <p ng-if="week.days[3].transactions[2].name" class="transactions">
                  {{week.days[3].transactions[2].name}}: {{week.days[3].transactions[2].amount}}
                </p>

                <p class="end-of-day">
                  {{week.days[3].endOfDay}}
                </p>
              </div>
            </td>
            <td class="day">
              <div class="day-info-container" ng-if="week.days[4].isViewedMonth"  ng-click="toggleModal(week.days[4])">
                <p class="day-number">
                  {{week.days[4].number}}
                </p>
                <p ng-if="week.days[4].transactions[0].name" class="transactions">
                  {{week.days[4].transactions[0].name}}: {{week.days[4].transactions[0].amount}}
                </p>
                <p ng-if="week.days[4].transactions[1].name" class="transactions">
                  {{week.days[4].transactions[1].name}}: {{week.days[4].transactions[1].amount}}
                </p>
                <p ng-if="week.days[4].transactions[2].name" class="transactions">
                  {{week.days[4].transactions[2].name}}: {{week.days[4].transactions[2].amount}}
                </p>

                <p class="end-of-day">
                  {{week.days[4].endOfDay}}
                </p>
              </div>
            </td>
            <td class="day">
              <div class="day-info-container" ng-if="week.days[5].isViewedMonth" ng-click="toggleModal(week.days[5])">
                <p class="day-number">
                  {{week.days[5].number}}
                </p>
                <p ng-if="week.days[5].transactions[0].name" class="transactions">
                  {{week.days[5].transactions[0].name}}: {{week.days[5].transactions[0].amount}}
                </p>
                <p ng-if="week.days[5].transactions[1].name" class="transactions">
                  {{week.days[5].transactions[1].name}}: {{week.days[5].transactions[1].amount}}
                </p>
                <p ng-if="week.days[5].transactions[2].name" class="transactions">
                  {{week.days[5].transactions[2].name}}: {{week.days[5].transactions[2].amount}}
                </p>

                <p class="end-of-day">
                  {{week.days[5].endOfDay}}
                </p>
              </div>
            </td>
            <td class="day">
              <div class="day-info-container" ng-if="week.days[6].isViewedMonth" ng-click="toggleModal(week.days[6])">
                <p class="day-number">
                  {{week.days[6].number}}
                </p>
                <p ng-if="week.days[6].transactions[0].name" class="transactions">
                  {{week.days[6].transactions[0].name}}: {{week.days[6].transactions[0].amount}}
                </p>
                <p ng-if="week.days[6].transactions[1].name" class="transactions">
                  {{week.days[6].transactions[1].name}}: {{week.days[6].transactions[1].amount}}
                </p>
                <p ng-if="week.days[6].transactions[2].name" class="transactions">
                  {{week.days[6].transactions[2].name}}: {{week.days[6].transactions[2].amount}}
                </p>

                <p class="end-of-day">
                  {{week.days[6].endOfDay}}
                </p>
              </div>
            </td>

        </tr>
    </table>
  </div>
  <div class="total-container col-xs-1">
    <p class="total-container-text">Beginning of Month Balance: {{total[0].balance}}</p>
    <button ng-click="toggleTotalModal()"class="change-total-button">Change</button>
  </div>
</div>
    <modal-dialog  show="myTotal.modalShown" width="50%" height="40%">
      <div class="total-modal">


      <div class="">
        <h4>
          The beginning of the month balance is {{total[0].balance}}, was the amount in your bank account as of the start of the first of the month different than {{total[0].balance}}?
        </h4>

      </div>
      <div class="instruction-for-total-modal">
          <p>
            If so enter a new amount and click submit to change the total stored for the beginning of the month.
          </p>
      </div>
      <div class="total-modal-form-container">
        <form class="changeTotal">
          <label for="newTotal">New Beginning of Month Balance:</label>
          <input type="number" name="newTotal" ng-model="changeTotalValue.balance">
          <button ng-click="changeTotal()">Submit</button>
        </form>
      </div>
    </modal-dialog>



    <modal-dialog show="myData.modalShown" width="75%" height="60%" >
      <div class="container row">


        <div class="left-modal-container col-xs-1">
          <p>
            {{month}} {{selectedDay.number}}
          </p>
        </div>
        <div class="right-modal-container col-xs-11">
          <div class="event-container" >
            <h3>EVENTS</h3>
            <div ng-repeat="transaction in selectedDay.transactions">
              <p>
                Name: {{transaction.name}},

                {{transaction.transaction}}:

                {{transaction.amount}}
                <button ng-click="deleteEvent(transaction)">delete Event</button>
              </p>
            </div>
          </div>
          <form class="addEvent">
            <div class="row event-form-container">
              <div class="col-xs-4 col-xs-offset-1">
                <div>
                  <label for="event.name">Event Name:</label>
                  <input type="text" ng-model="event.name" />
                </div>
                <div>
                  <label for="amount">Amount:</label>
                  <input type="text" ng-model="event.amount" />
                </div>
              </div>
              <div class="col-xs-6">

                <div>
                  <label for="event.transaction">Income/Expense:</label>
                  <select  name="event.transaction" ng-model="event.transaction">
                    <option value="income">
                      Income
                    </option>
                    <option value="expense">
                      Expense
                    </option>
                  </select>
                </div>
                <div>
                  <label for="event.recurring">Recurring:</label>
                  <select  name="event.recurring" ng-model="event.recurring">
                    <option value="true">
                      Recurring
                    </option>
                    <option value="false">
                      Non-Recurring
                    </option>
                  </select>
                </div>
                <div>
                  <label for="event.frequency">Frequency:</label>
                  <select  name="event.frequency" ng-model="event.frequency">
                    <option selected value="NULL">
                      N/A
                    </option>
                    <option value="weekly">
                      Weekly
                    </option>
                    <option value="by-weekly">
                      Bi-Weekly
                    </option>
                    <option value="monthly">
                      Monthly
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <button class="col-xs-2 col-xs-offset-3" ng-click="addEvent(selectedDay.date._d)">Submit</button>
          </form>



        </div>
      </div>
    </modal-dialog>
